services:
  api:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: fastapi-app
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://user:password@postgres:5432/meli
    networks:
      - mynetwork

  postgres:
    image: postgres:14
    container_name: meli-api-crud-postgres-1
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: meli
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "user"]
      interval: 3s
      timeout: 5s
      retries: 5
    networks:
      - mynetwork

networks:
  mynetwork:
